.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

Login-button {
  background-color: green;
  width: 200px;
  height: 50px
}

Logout-button {
  background-color: blue;
  width: 200px;
  height: 50px
}
button {
  height: 40px;
  width: 200px;
}
.warning {
  background-color: orange;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 14pt;
  color: black;
}
.list-group{
  text-align: left
}
.panel.panel-default {
  text-align: left
}
.show-grid {
  margin: 0 !important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
